
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}


body {
    background: #ffffff;
    color: #1b1b32;
    font-family: sans-serif;
    margin-left: 0;
}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    border: 2px solid grey;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    overflow-y: auto;
}

main {
    margin-left: 350px;
}

code {
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #1b1b32;
    display: block;
    width: 60%;
    padding: 10px;
}

h1 {
    font-size: 1.8em;
    margin-left: 10px;
}

nav li {
    font-size: 1.75em;
    margin: 10px 0;
    list-style-type: none;
}

div {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: #1b1b32;
    width: 100vw;
    margin-left: -50px;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    main {
        margin-left: unset;
    }
}